/* Styles généraux */

body {
    margin: 0px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: arial;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

h1 {
    font-family: Cinzel Decorative;
}

h2,h3 {
    font-family: Cinzel Decorative;
    color: #000;
    font-weight: bolder;
}

a {
    text-decoration: none;
    font-family: Cinzel Decorative;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

/* Header */

header {
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgb(107, 115, 77, .7) 70%,rgb(107, 115, 77, .0));
}

.logo-header {
    width: 8%;
}

.link-header {
    display: flex;
    gap: 32px;
    margin-left: auto;
    margin-right: 32px;
}

.link-header>a:hover {
    font-size: 23px;
    text-decoration: underline;
    transition: 0.3s;
}

.link-header>a:not(:hover) {
    transition: 0.3s;
}

/* Main */

.title-main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    font-weight: bolder;
    font-size: 25px;
}

.presentation-zone {
    background: rgb(107, 115, 77, .7);
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.p-title {
    color: #000;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
}

.paragraphe {
    font-size: 20px;
}

.parent-one {
    margin-left: 64px;
}

.parent-two {
    margin-right: 64px;
    width:300%;
}

.gradient-one {
    height: 32px;
    background-image: linear-gradient(rgb(107, 115, 77, .0),rgb(107, 115, 77, .7));
}

.gradient-two {
    height: 32px;
    background-image: linear-gradient(rgb(107, 115, 77, .7),rgb(107, 115, 77, .0));
}

.espacement {
    margin-top: 64px;
}

.description {
    margin-left: 64px;
}

.fig-zone {
    background: rgb(107, 115, 77, .7);
    padding-top: 1px;
    display: flex;
    justify-content: center;
    gap: 64px;
}

.img-list {
    width: 150px;
}

.child {
    display: flex;
    margin-left: 64px;
    align-items: center;
    gap: 32px;
    
}

.second-text {
    margin-right: 54px;
}

.zone-child-two {
    width: 50vw;
}

.zone-child-one {
    width: 50vw;
}


.buy-btn {
    background: rgb(161, 166, 124, .6);
    width: fit-content;
    padding: 8px;
    border-radius: 3px;
}

.buy-btn:hover {
    padding: 16px;
    transition: 0.3s;
}

.buy-btn:not(:hover) {
    transition: 0.3s;
}