/* Styles généraux */

body {
    margin: 0px;
    background : #424242;
    font-family: arial;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

h1 {
    font-family: Cinzel Decorative;
    color: #FFF;
}

a {
    text-decoration: none;
    font-family: Cinzel Decorative;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

/* Header */

header {
    display: flex;
    align-items: center;
    background: #222222;
}

.logo-header {
    width: 5%;
    margin-left: 16px;
}

.link-header {
    display: flex;
    gap: 32px;
    margin-left: auto;
    margin-right: 32px;
}

.link-header>a:hover {
    font-size: 23px;
    text-decoration: underline;
    transition: 0.3s;
}

.link-header>a:not(:hover) {
    transition: 0.3s;
}

/* Main */

.presentation-zone {
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
    margin-top: 64px;
}

.p-title {
    color: #000;
    font-size: 32px;
    font-weight: bolder;
    text-decoration: underline;
}

.parent-one {
    margin-left: 256px;
}

.parent-two {
    margin-right: 256px;
    width:300%;
}

.fig-zone {
    padding-top: 1px;
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-top: 64px;
}

.img-list {
    width: 150px;
}

.child {
    display: flex;
    margin-left: 64px;
    align-items: center;
    gap: 32px;
    
}

.zone-child-two {
    width: 50vw;
    margin-right: 256px;
}

.zone-child-one {
    width: 50vw;
    margin-left: 256px;
}


.buy-btn {
    background: rgb(161, 166, 124, .6);
    width: fit-content;
    padding: 8px;
    border-radius: 3px;
    border: #000 solid 1px;
}

.buy-btn>a {
    color: #000;
}

.buy-btn:hover {
    padding-left: 32px;
    padding-right: 32px;
    transition: 0.3s;
}

.buy-btn:not(:hover) {
    transition: 0.3s;
}