/* Styles généraux */

body {
    margin: 0px;
    background : #fafafa;
    font-family: arial;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

h1 {
    font-family: Cinzel Decorative;
    color: #FFF;
}

a {
    text-decoration: none;
    font-family: Cinzel Decorative;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

hr {
    margin-right: 256px;
    margin-left: 256px;
    margin-top: 64px;
    margin-bottom: 64px;
}

/* Header */

header {
    display: flex;
    align-items: center;
    background: #424242;
}

header>h1 {
    margin-left: 16px;
}

.logo-header {
    width: 5%;
    margin-left: 16px;
}

.link-header {
    display: flex;
    gap: 32px;
    margin-left: auto;
    margin-right: 32px;
}

.link-header>a:hover {
    font-size: 23px;
    text-decoration: underline;
    transition: 0.3s;
}

.link-header>a:not(:hover) {
    transition: 0.3s;
}

/* titres des paragraphes */

.p-title {
    color: #000;
    font-size: 32px;
    font-weight: bolder;
    text-decoration: underline;
}

/* Zone présentation */

.presentation-zone {
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
    background-image: linear-gradient(#b6b6b6, #fafafa 60%);
    width: fit-content;
}

.parent-one {
    margin-left: 256px;
}

.parent-two {
    margin-right: 256px;
    width:300%;
}

/* zone figurine */

.fig-zone {
    margin-top: 64px;
    margin-left: 256px;
    margin-right: 256px;
}

.img-list {
    width: 150px;
}

.child {
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.li>p {
    font-size: 60px;
}

/* zone acheter */

.zone-achat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(#fafafa 60%, #B6B6B6);
}

.content-zone-achat {
    margin-left: 256px;
    margin-right: 256px;
}

.btn-placement {
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;
    margin-bottom: 64px;
}

.buy-btn {
    background: #616161;
    width: fit-content;
    padding: 8px;
    border-radius: 3px;
}

.buy-btn>a {
    color: #FFF;
}

.buy-btn:hover {
    padding-left: 32px;
    padding-right: 32px;
    transition: 0.3s;
}

.buy-btn:not(:hover) {
    transition: 0.3s;
}

/* footer */

footer {
    background: #424242;
}

.test {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px;
}

.content1 {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 8%;
    margin-left: 32px;
}

.link-footer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.link-footer>a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    margin-left: 16px;
}

.link-footer>a:hover {
    text-decoration: underline;
}

.content2 {
    display: flex;
    padding-bottom: 8px;
    justify-content: center;
    align-items: end;
    text-decoration: underline;
    color: #FFF;
}